@model IEnumerable<WebCartridgeJournalAuth.Models.Color>

@{
    ViewBag.Title = "Index";
}

<h3>Цвета картриджей</h3>

<p>
    @Html.ActionLink("Создать новую запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ColorName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ColorId }) |
                @Html.ActionLink("Подробности", "Details", new { id = item.ColorId }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ColorId })
            </td>
        </tr>
    }

</table>
