@model IEnumerable<WebCartridgeJournalAuth.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h3>Отделы</h3>

<p>
    @Html.ActionLink("Создать новую запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepatmentName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepatmentName)
            </td>
            <td>
                @Html.ActionLink("Править", "Edit", new { id = item.DepartmentID }) |
                @Html.ActionLink("Детали", "Details", new { id = item.DepartmentID }) |
                @Html.ActionLink("Удаление", "Delete", new { id = item.DepartmentID })
            </td>
        </tr>
    }

</table>
